@model IEnumerable<WebAppFirst.Models.Shippers>

@{
    ViewBag.Title = "Index";
}

<h2>Shippers</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<td>
<p><a class="btn btn-primary" href="~/Shippers/Create/">Create New</a></p>
</td>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th>@Html.DisplayNameFor(model => model.Region.RegionDescription)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.Region.RegionDescription)</td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ShipperID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ShipperID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID })*@
                <a class="btn btn-primary" href="~/Shippers/Edit/@item.ShipperID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
                <a class="btn btn-primary" href="~/Shippers/Details/@item.ShipperID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                </a>
                @*Button to Open the Modal*@
                <!--<p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        Avaa modal
                    </button>
                </p>-->
                @*The Modal*@
                <!--<div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Shippers Details</h1>
                            </div>
                            <div class="modal-body">-->
                                @*Modal body..*@
                                <!--<dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(model => model.CompanyName)</dt>-->
                                    @*<dd>@Html.DisplayFor(model => model.CompanyName)</dd>*@
                                    <!--<dt>@Html.DisplayNameFor(model => model.Phone)</dt>-->
                                    @*<dd>@Html.DisplayFor(model => model.Phone)</dd>*@
                                    <!--<dt>@Html.DisplayNameFor(model => model.Region.RegionDescription)</dt>-->
                                    @*<dd>@Html.DisplayFor(model => model.Region.RegionDescription)</dd>*@
                                <!--</dl>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-warning" href="~/Shippers/Index/">Back to List</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Peruuta</button>
                            </div>

                        </div>
                    </div>
                </div>-->
                <a class="btn btn-primary" href="~/Shippers/Delete/@item.ShipperID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </td>
        </tr>
    }

</table>
